{
  "extends": "eslint-config-react",
  "rules": {
    "no-restricted-imports": "off"
  },
  "overrides": [
    {
      "files": [
        "rollup.config.js"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/no-anonymous-default-export": "off",
        "no-restricted-imports": "off"
      }
    },{
      "files": [
        "src/index.ts"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}