{
  "extends": "eslint-config-react",
  "overrides": [
    {
      "files": [
        "index.ts",
        "vite.config.ts"
      ],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}