// Primary
$Black: #000000;
$White: #ffffff;
$Blue500: #009BA6;
$Dark: #616365;
$Grey100: #F6F6F6;
$Yellow500: #FECB00;

// Secondary
$Red500: #FF686E;

// Neutral variant
$Grey200: #E0E1DD;
$Grey300: #C9CAC8;
$Grey400: #ADAFAF;
$Grey500: #8B8D8E;

// Blue variant
$Blue400: #CAE9EB;

// Yellow variant
$Yellow400: #F8EDC5;

// Red variant
$Red400: #FFE1E2;

:export {
  black: $Black;
  blue400: $Blue400;
  blue500: $Blue500;
  dark: $Dark;
  grey100: $Grey100;
  grey200: $Grey200;
  grey300: $Grey300;
  grey400: $Grey400;
  grey500: $Grey500;
  red400: $Red400;
  red500 : $Red500;
  white: $White;
  yellow400 : $Yellow400;
  yellow500 : $Yellow500;
}
