// Primary
$Black: #00000;
$White: #fffff;
$Blue500: #009BA6;
$Dark: #616365;
$Grey100: #F6F6F6;
$Yellow500: #FECB00;

// Secondary
$Red500: #FF686E;

// Neutral variant
$Grey200: #E0E1DD;
$Grey300: #C9CAC8;
$Grey400: #ADAFAF;
$Grey500: #8B8D8E;

// Blue variant
$Blue400: #CAE9EB;

// Yellow variant
$Yellow400: #F8EDC5;

// Red variant
$Red400: #FFE1E2;

:export {
  $Black;
  $Blue500;
  $Blue400;
  $Dark;
  $Grey100;
  $Grey200;
  $Grey300;
  $Grey400;
  $Grey500;
  $Red400;
  $Red500;
  $White;
  $Yellow500;
  $Yellow400;
}
