// Primary
$primaryMain: #009BA6;
$primaryDark: #006C74;
$primaryLight: #33AFB7;

// Secondary
$secondaryMain: #FECB00;
$secondaryDark: #B18E00;
$secondaryLight: #FED533;

// Error
$errorMain: #FF686E;
$errorDark: #C73443;
$errorLight: #FF9A9C;

// Warning
$warningMain: #FFA726;
$warningDark: #C77800;
$warningLight: #FFD95B;

// Info
$infoMain: #4D85E0;
$infoDark: #0059AE;
$infoLight: #85B4FF;

// Success
$successMain: #5DD39E;
$successDark: #41936E;
$successLight: #7DDBB1;

// Grey
$grey50: #F5F7F7;
$grey200: #EEEEEE;
$grey300: #E0E0E0;

:export {
  // Primary
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primaryLight: $primaryLight;
  // Secondary
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondaryLight: $secondaryLight;
  // Error
  errorMain: $errorMain;
  errorDark: $errorDark;
  errorLight: $errorLight;
  // Warning
  warningMain: $warningMain;
  warningDark: $warningDark;
  warningLight: $warningLight;
  // Info
  infoMain: $infoMain;
  infoDark: $infoDark;
  infoLight: $infoLight;
  // Success
  successMain: $successMain;
  successDark: $successDark;
  successLight: $successLight;
  // grey
  grey50: $grey50;
  grey200: $grey200;
  grey300: $grey300;
}
