// Primary
$primaryLight: #33AFB7;
$primaryMain: #009BA6;
$primaryDark: #006C74;

// Secondary
$secondaryLight: #FED533;
$secondaryMain: #FECB00;
$secondaryDark: #B18E00;

// Error
$errorLight: #FF9A9C;
$errorDark: #C73443;
$errorMain: #FF686E;


// Warning
$warningLight: #FFD95B;
$warningMain: #FFA726;
$warningDark: #C77800;

// Info
$infoMain: #4D85E0;
$infoLight: #85B4FF;
$infoDark: #0059AE;

// Success
$successLight: #7DDBB1;
$successMain: #5DD39E;
$successDark: #41936E;

// Grey
$grey50: #F5F7F7;
$grey100: #E3E8E8;
$grey200: #D2D8D8;
$grey300: #9DAAAB;
$grey400: #7B8B8C;
$grey500: #586C6D;
$grey600: #354D4F;
$grey700: #233E40;
$grey800: #001F21;

:export {
  // Primary
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primaryLight: $primaryLight;
  // Secondary
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondaryLight: $secondaryLight;
  // Error
  errorMain: $errorMain;
  errorDark: $errorDark;
  errorLight: $errorLight;
  // Warning
  warningMain: $warningMain;
  warningDark: $warningDark;
  warningLight: $warningLight;
  // Info
  infoMain: $infoMain;
  infoDark: $infoDark;
  infoLight: $infoLight;
  // Success
  successMain: $successMain;
  successDark: $successDark;
  successLight: $successLight;
  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey800: $grey800;
}
