@import "@/styles/colors/common.module.scss";

// Background
$background: #333333;

// Text
$textPrimary: #ffffff;
$textSecondary: #999999;
$textDisabled: #636262;


:export {
  // Background
  background: $background;
  // Text
  textPrimary: $textPrimary;
  textSecondary: $textSecondary;
  textDisabled: $textDisabled;
}
