@import "@/styles/colors/common.module.scss";

// Background
$background: #333333;

// Text
$textPrimary: #ffffff;
$textSecondary: #999999;
$textDisabled: #636262;

// Other/Misc
$divider: rgba(0, 0, 0, 0.12);


:export {
  // Background
  background: $background;
  // Text
  textPrimary: $textPrimary;
  textSecondary: $textSecondary;
  textDisabled: $textDisabled;
  // Other/Misc
  divider: $divider;
}
