@import "@/styles/colors/common.module.scss";

// Background
$background: #ffffff;
$backgroundDivider: rgba(0, 0, 0, 0.23);
$backgroundOutlineBorder: rgba(0, 0, 0, 0.23);

// Text
$textPrimary: #000000;
$textSecondary: #616365;
$textDisabled: #ADAFAF;

// Action
$actionActive: rgba(0, 0, 0, 0.54);
$actionHover: rgba(0, 0, 0, 0.04);
$actionSelected: rgba(0, 0, 0, 0.08);
$actionDisabled: rgba(0, 0, 0, 0.26);
$actionDisabledBackground: rgba(0, 0, 0, 0.12);
$actionFocus: rgba(0, 0, 0, 0.12);

// Other/Misc
$divider: rgba(0, 0, 0, 0.12);
$outlineBorder: rgba(0, 0, 0, 0.23);
$standardInputLine: rgba(0, 0, 0, 0.42);
$backdropOverlay: rgba(0, 0, 0, 0.5);
$ratingActive: #FFB400;
$snackbarBackground: #323232;

:export {
  // Background
  background: $background;
  backgroundDivider: $backgroundDivider;
  backgroundOutlineBorder: $backgroundOutlineBorder;
  // Text
  textPrimary: $textPrimary;
  textSecondary: $textSecondary;
  textDisabled: $textDisabled;
  // Action
  actionActive: $actionActive;
  actionHover: $actionHover;
  actionSelected: $actionSelected;
  actionDisabled: $actionDisabled;
  actionDisabledBackground: $actionDisabledBackground;
  actionFocus: $actionFocus;
  // Other/Misc
  divider: $divider;
  outlineBorder: $outlineBorder;
  standardInputLine: $standardInputLine;
  backdropOverlay: $backdropOverlay;
  ratingActive: $ratingActive;
  snackbarBackground: $snackbarBackground;
}
