name: Chromatic DEBUG

on:
  issue_comment:
    types: [created]

jobs:
  chromatic:
    runs-on: ubuntu-latest

    steps:
      - name: Dump event
        run: |
          echo "COMMENT BODY:"
          echo "${{ github.event.comment.body }}"
          echo ""
          echo "EVENT:"
          echo '${{ toJson(github.event) }}'
