name: Chromatic

on:
  issue_comment:
    types: [edited]

jobs:
  chromatic:
    if: |
      github.event.issue.pull_request &&
      contains(github.event.comment.body, '- [x] Run Chromatic for visual regression tests') ||
      contains(github.event.comment.body, '- [X] Run Chromatic for visual regression tests')

    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ github.event.issue.number }}/head
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v1

      - run: bun install --ignore-scripts

      - run: bun run build-storybook

      - name: Run Chromatic
        run: |
          npx chromatic \
            --project-token=c9bbc986d0d6 \
            --storybook-build-dir=storybook-static \
            --ci
        continue-on-error: true
