name: Chromatic

on:
  pull_request:
    types: [edited]

jobs:
  chromatic:
    if: |
      contains(github.event.pull_request.body, '- [x] Run Chromatic') ||
      contains(github.event.pull_request.body, '- [X] Run Chromatic')

    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: oven-sh/setup-bun@v1

      - run: bun install --ignore-scripts

      - run: bun run build-storybook

      - run: |
          npx chromatic \
            --project-token=c9bbc986d0d6 \
            --storybook-build-dir=storybook-static \
            --ci
