name: CI

on:
  push:
    branches-ignore:
      - master
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install --ignore-scripts

      - name: Run prepare script manually
        run: bun run prepare

      - name: Run unit tests
        run: bun run test

  chromatic:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install --ignore-scripts

      - name: Run prepare script manually
        run: bun run prepare

      - name: Run Chromatic
        run: bun run test-visual
